<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      div {
        height: 1000px;
      }
    </style>
  </head>
  <body>
    第一段文字 <a href="#third">跳转到第二段</a>
    <div></div>

    <p id="second">第二段文字</p>
    <div></div>

    <p id="third">第三段文字</p>
    <div></div>

    <p id="fourth">第四段文字</p>
    <div></div>
  </body>
</html>
